
body{
  /* background-color:rgb(221, 225, 207); */
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 2.2em;
  line-height: 0.9em;
  margin: 0;
}

h1, h2, h3{
  font-size: 2em;
  line-height: 0.9em;
  color: #0f0f0f;
  font-weight: 400;
  font-family: 'Lexend Deca', sans-serif;
}

h3{
  font-size: 1.2em;
}

#profile-pic{
  width: 250px;
  height: 250px;
  background-position: cover;
  border-radius: 250px;
}

#socials{
  list-style: none;
}

#socials li a {
  color: rgb(208, 208, 208);
}

#chat{
  font-size: 4rem;
  margin: 15px;
}

.gradient{
  background: linear-gradient(to right, rgb(0, 66, 116), rgb(0, 113, 212), rgb(197, 255, 22));
}

#socials li{
  display: inline-block;
}

#socials li a {
  font-size: 28px;
  margin: 5px;
  color: rgb(208, 208, 208);
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip:text;
  transition: color .2s ease-in-out;
  text-transform:uppercase;
  font-weight:900;
}

#socials li a:hover{
  color:rgba(0,0,0,0);
}

.text-width{
  width: 50%;
}

.text-width-wide{
  width: 40%;
}

#button:hover,
#button:focus{
  background-size: 0 0.1em, 100% 0.1em;
}

.orange-fullstop{
  color: #f06400;
  font-size: 2.2em;
  line-height: 0em;;
}
.circle{
  border-radius: 100px;
  background-color: #f06400;
  border: #000 3px dotted;
  box-shadow: 4px 4px 10px #eee;;
  height: 150px;
  width:150px;
  position:fixed;
  z-index: 10;;
  top:75vh;
  left: 85vw;
  -webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.cards{
  width: 80vw;
  margin:15px auto;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 2px 2px 20px #eee;
}

#footer{
  border-radius: 20px 20px 0px 0;
  margin-bottom: 0px;
}

footer ul{
  padding: 0;
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .cards{
    width:95vw;
  }
  .circle{
    top:75vh;
    left: 65vw;
  }
  .text-width{
    width: 80%;
  }
}

@media (max-width: 1040px) {
  .circle{
    top:75vh;
    left: 80vw;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .cards{
    width:95vw;
  }
  .circle{
    top:75vh;
    left: 65vw;
  }
  .text-width{
    width: 80%;
  }
}
